* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F5EA;
}

h1 {
    font-size: 42px;
    font-weight: 700;
    color: #e75a7c;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #e75a7c;
    text-align: center;
}

header {
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header,
footer {
    background-color: #BBC7A4;
}

#portrait {
    border-radius: 500px;
}

#logo {
    width: auto;
}

footer>p {
    text-align: center;
}

section,
aside,
footer {
    margin-top: 10%;
}

#miunAd {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

/* Meny knapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #BBC7A4;
    border: black solid 2px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: #F2F5EA;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

/* Design av meny för mobilenheter, placeras till höger om skärmen */
nav {
    background-color: #BBC7A4;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: none;
}
nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.8em 0;
    width: 100%;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0 1em;
}

nav li:hover {
    background-color: #F2F5EA;
    cursor: pointer;
}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;

}